<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Customer Attributes Base for Magento 2
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_attributes_after_save">
        <observer name="amChangeAttribute" instance="Amasty\CustomerAttributes\Observer\ChangeAttribute" />
    </event>
    <event name="adminhtml_customer_prepare_save">
        <observer name="Amasty_CustomerAttributes::saveEmptyAttributes" instance="Amasty\CustomerAttributes\Observer\SaveEmptyAttributes" />
    </event>
</config>
