<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package App for Payments with Stripe for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="amasty_stripe_config_provider" xsi:type="object">Amasty\Stripe\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="amasty_stripe" xsi:type="const">Amasty\Stripe\Model\Ui\ConfigProvider::CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Amasty\Stripe\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\Stripe\Block\Customer\Element\Html\Link\Current">
        <arguments>
            <argument name="stripeAccountManagement" xsi:type="object">Amasty\Stripe\Model\StripeAccountManagement\Proxy</argument>
        </arguments>
    </type>
</config>
