<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package App for Payments with Stripe for Magento 2
 */-->
<!--
  @author Amasty Team
  @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
  @package Amasty_Stripe
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_amasty_stripe">
        <observer name="amasty_stripe_gateway_data_assign" instance="Amasty\Stripe\Observer\DataAssignObserver" />
    </event>

    <event name="sales_quote_payment_import_data_before">
        <observer name="amasty_stripe_sales_quote_payment_import_data_before" instance="Amasty\Stripe\Observer\ReplaceAddressObserver"/>
    </event>

    <!--set status from config 'Order status'-->
    <event name="sales_order_payment_place_end">
        <observer name="amasty_stripe_sales_order_payment_place_end" instance="Amasty\Stripe\Observer\Sales\Order\Payment\Place" />
    </event>
</config>
