<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Customer Attributes Base for Magento 2
 */Magento\Customer\Model\ResourceModel\CustomerRepository
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="customerAttributes" sortOrder="102" xsi:type="object">Amasty\CustomerAttributes\Block\Checkout\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="amasty_customer_attributes" xsi:type="object">Amasty\CustomerAttributes\Model\Checkout\AttributesConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Validator">
        <plugin name="Amasty_CustomerAttributes::customer-validation" type="Amasty\CustomerAttributes\Model\Validator"/>
    </type>
    <type name="\Magento\Customer\Model\Form">
        <plugin name="Amasty_CustomerAttributes::ee-version-compatibility"
                type="Amasty\CustomerAttributes\Plugin\Customer\Model\Form"/>
    </type>
    <type name="Magento\Eav\Model\Entity\Attribute\Backend\AbstractBackend">
        <plugin name="Amasty_CustomerAttributes::skipValidation" type="Amasty\CustomerAttributes\Plugin\Model\Attribute\Backend\AttributeValidation"/>
    </type>
</config>
